.alert-success {
    position: fixed;
    top: 10px;
    right: 10px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#posts {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}


#posts .post-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
}

#posts .post-container img {
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#posts .post-container .post-content {
    color: #fff;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

#posts .post-container .post-content a {
    color: #fff;
    text-decoration: none;
}

#posts .post-container .post-content a:hover {
    color: #fff;
    transition: 0.3s;
}

#posts .post-container .post-content .buttons-post {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#posts .post-container .post-content .buttons-post .switch {
    position: relative;
    top: 16%;
    margin: 0;
}

#posts .post-container .post-content .buttons-post>* {
    margin-right: 20px;
}

#posts .post-container .post-content .input-check-container {
    position: relative;
}

#posts .post-container .post-content .input-check-container .info-check {
    margin-left: 5px;
    color: #fff;
    font-size: 10px;
}

#posts .post-container:hover .post-content {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

#posts .post-container:hover img {
    transform: scale(1.05);
    filter: blur(4px);
}

/* <reset-style> ============================ */
a {
    text-decoration: none;
}

/* <main-style> ============================ */
.menu__link {
    color: #fff;
    line-height: 2;
    position: relative;
}

.menu__link::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -.25rem;
    left: 50%;
    transition: width .4s, left .4s;
}

.menu__link:hover::before {
    width: 100%;
    left: 0;
}

/* The switch - the box around the slider */
.switch {
    font-size: 10px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(182, 182, 182);
    transition: .4s;
    border-radius: 10px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 8px;
    left: 0.3em;
    bottom: 0.3em;
    transform: rotate(270deg);
    background-color: rgb(255, 255, 255);
    transition: .4s;
}

.switch input:checked+.slider {
    background-color: #21cc4c;
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked+.slider:before {
    transform: translateX(1.5em);
}

/* ------------------ */
@media (min-width: 991px) {
    .tm-main {
        padding: 10px 10px 0px 40px;
    }
}

@media (max-width: 991px) {
    .tm-main {
        margin-left: 0;
        padding: 10px;
        width: 100%;
    }
}